In [56]:
import pandas as pd

def batting_to_df(match_url):
    """Function that reads the batting scorecard from PlayCricket.com and converts it to a Pandas dataframe

    :param str match_url: The URL of the scorecard on PlayCricket.com
    """

    # Fetch all the tables on the page and store them in a list of dataframes
    tables = pd.read_html(match_url)

    # The first team's batting scorecard has index 1, the second team's has index 4. At some point, I need to edit
    # this code to cover both cases but for now we only cover one case.

    # Get the unedited version of the batting scorecard
    dirty_batting_scorecard = tables[4]
   
    # Replace any NaN values with 0s
    dirty_batting_scorecard = dirty_batting_scorecard.fillna(0)
    
    # Clean the batsman column 
    clean_cells = []
    for i in range(0,11):
        
        # Identify the clutter
        if dirty_batting_scorecard.iat[i, 1] == 0 or dirty_batting_scorecard.iat[i, 2] == 0:
            how_out = str(dirty_batting_scorecard.iat[i, 1]) + str(dirty_batting_scorecard.iat[i, 2])
            how_out = (how_out.replace('0', ''))
            how_out = how_out.replace(' ', '')
        else:
            how_out = dirty_batting_scorecard.iat[i, 1] + dirty_batting_scorecard.iat[i, 2]
            how_out = (how_out.replace(' ', ''))
        
        # Remove the clutter
        batsman_cell = ''.join(dirty_batting_scorecard.iat[i, 0].split()) # Remove whitespace 
        cleaned_cell = batsman_cell.replace(how_out, '') # Remove how_out
        clean_cells.append(cleaned_cell)
        
        #Put space between first name and last name
    
    
    print(clean_cells)
    
    # Remove the two redundant columns (the unnamed columns)
    dirty_batting_scorecard = dirty_batting_scorecard.drop(dirty_batting_scorecard.columns[[1, 2]], axis=1)
    
    
    
    return dirty_batting_scorecard

batting_to_df("https://uniofwarwick.play-cricket.com/website/results/4055612")
# "https://englandseniors.play-cricket.com/website/results/4529883"
# "https://uniofwarwick.play-cricket.com/website/results/4055612"

['SohaylUjoodia', 'GregDann', 'JoeRandall', 'SachaAbbasi', 'CharlieRoyle', 'DanLewis', 'ParthMannikar', 'KrishanSachdeva', 'KieronPatel', 'JabezWeale', 'PruthvishAnandpura']

                           BATSMAN  RUNSR  BALLSB    4s   6s      SR
0            Sohayl Ujoodianot out   65.0    55.0  12.0  0.0  118.18
1      Greg Dannc Unsure b - Clark    4.0     5.0   1.0  0.0   80.00
2     Joe Randallc - Lock b - Lock   35.0    30.0   6.0  0.0  116.67
3              Sacha Abbasinot out    6.0    10.0   1.0  0.0   60.00
4         Charlie Royledid not bat    0.0     0.0   0.0  0.0    0.00
5             Dan Lewisdid not bat    0.0     0.0   0.0  0.0    0.00
6        Parth Mannikardid not bat    0.0     0.0   0.0  0.0    0.00
7      Krishan Sachdevadid not bat    0.0     0.0   0.0  0.0    0.00
8          Kieron Pateldid not bat    0.0     0.0   0.0  0.0    0.00
9           Jabez Wealedid not bat    0.0     0.0   0.0  0.0    0.00
10  Pruthvish Anandpuradid not bat    0.0     0.0   0.0  0.0    0.00