In [10]:
import pandas as pd

def batting_to_df(match_url):
    """Function that reads the batting scorecard from PlayCricket.com and converts it to a Pandas dataframe

    :param str match_url: The URL of the scorecard on PlayCricket.com
    """

    # Fetch all the tables on the page and store them in a list of dataframes
    tables = pd.read_html(match_url)

    # The first team's batting scorecard has index 1, the second team's has index 4. At some point, I need to edit
    # this code to cover both cases but for now we only cover one case.

    # Get the unedited version of the batting scorecard
    dirty_batting_scorecard = tables[4]
    
    # Remove the two redundant columns (the unnamed columns)
    dirty_batting_scorecard = dirty_batting_scorecard.drop(dirty_batting_scorecard.columns[[1, 2]], axis=1)
    
    # Replace any NaN values with 0s
    dirty_batting_scorecard = dirty_batting_scorecard.fillna(0)
    
    return dirty_batting_scorecard
batting_to_df("https://uniofwarwick.play-cricket.com/website/results/4055612")
batting_to_df("https://uniofwarwick.play-cricket.com/website/results/4026195")

                                          BATSMAN  RUNSR  BALLSB  4s  6s   SR
0           Jacob Birdc Dom Palmer b Mahang Patel     23       0   2   0  0.0
1                 Uzair Ahmedlbw b Hashim Hussain      7       0   1   0  0.0
2         Sam Topperc Dilesh Patel b Mahang Patel     10       0   1   0  0.0
3            Dan Lewisc Dom Palmer b Mahang Patel     21       0   1   1  0.0
4     Parth Mannikarc James Benson b Hassam Dahar      8       0   0   0  0.0
5   Oliver Warwickc Hassam Dahar b Hashim Hussain     31       0   1   1  0.0
6    Krishan Sachdevac Scott Jones b Hassam Dahar      0       0   0   0  0.0
7        Jonnie Faganc Mahang Patel b Scott Jones     29       0   0   2  0.0
8                   Sohil Mangat b Hashim Hussain     17       0   0   1  0.0
9                               Ojas Kumarnot out      8       0   1   0  0.0
10               Vrushal Modyrun out Mahang Patel      5       0   1   0  0.0